@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    background-color: #2a3148;
    font-family: "Figtree", sans-serif;
    color: #FFF;
    height: 100%;
}

h1 {
    color: #FFF;
    font-size: 5rem;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 3rem;
    font-style: underline;
    padding: 20px;
}

h3 {
    font-size: 2.5rem;
    padding: 20px 20px 10px 20px;
}

p {
    font-size: 2rem;
    padding: 10px 20px 30px 40px;
}

.container {
    text-align: justify;
    width: 50%;
    position: relative;
    left: 50vh;
    margin: 0 50px;
    margin-bottom: 20px;
}

.ceneter ul {
    margin-bottom: 10px;
}

.center ul li {
    font-size: 2rem;
    margin-left: 100px;
    padding-bottom: 20px;
}
.box {
    max-width: 1280px;
    margin-inline: auto;
}

.center {
    margin-top: 150px;
    width: 50%;
    width: 100%;
    max-height: 400px;
    aspect-ratio: 16/9;
    position: relative;
}

.center a {
    color: #FFF;
    font-size: 2rem;

}

.space-between {
    justify-content: space-between;
}

.aligncenter {
    align-items: center;
}

.zone img {
    display: block;
    justify-items: center;
    margin-bottom: 40px;
}

.paiement {
    margin-top: 20px;
}

.paiement strong {
    font-size: 2rem;
}


/* bouton */
input {
    padding-bottom: 20px;
}

.styled {
    border: 0;
    line-height: 4;
    padding: 0 20px;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 50px;
    background-color: #4889A5;
    box-shadow:
      inset 2px 2px 3px rgb(255 255 255 / 60%),
      inset -2px -2px 3px rgb(0 0 0 / 60%);
  }
  
  .styled:hover {
    cursor: pointer;
  }
  
  .styled:active {
    box-shadow:
      inset -2px -2px 3px rgb(255 255 255 / 60%),
      inset 2px 2px 3px rgb(0 0 0 / 60%);
  }

/* Menu nav */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #1d2232;
    z-index: 999;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.07);
}

.flex-header {
    display: flex;
    padding: 10px;
}

.header-logo {
    display: block;
}

.header-logo img {
    width: 100px;
}

.header-sociaux img {
    width: 25px;
    padding: 10px;
    text-decoration: none;
}

.header-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu-list {
    display: flex;
    align-items: center;
    list-style: none;
    align-items: center;
    padding-right: 350px;
}

.header-menu li a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    display: block;
    box-sizing: border-box;
    transition: 0.2s ease;
    font-size: 2rem;
}

.header-menu li a:hover {
    background: #1d2232;
}

.has-sous-menu{
    position: relative;
}

.sous-menu {
    background-color: #1d2232;
    border-radius: 15px;
    list-style: none;
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
}

.sous-menu li {
    padding: 10px;
}

.has-sous-sous-menu {
    position: relative;
}

.has-sous-menu:hover .sous-menu{
    display: block;
    z-index: 999;
}

/* .sous-sous-menu{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2a3148;
} */

/* .sous-sous-menu li {
    list-style: none;
    font-size: 1.8rem;
    display: none;
} */

/* .has-sous-sous-menu:hover .sous-sous-menu {
    display: block;
} */


/* Pied de page */

footer {
    width: 100%;
    background: #1d2232;
    text-align: center;
    background: #1d2232;
    padding-top: 20px;
}

footer a {
    color: #FFF;
    text-decoration: underline;
}

.inpi {
    width: 300px;
    margin: 0 60px;
}

.artisan {
    width: 180px;
    margin: 0 50px;
    background-color: #FFF;
}

.mentions-legales p {
    padding-bottom: 20px;
}

.mentions-legales a {
    font-size: 2rem;
}